#navbar{
    text-align:center;
    
}


#navbar li{
    display:inline-block;
    border: 2px solid black;
    padding: 5px;
    background: teal;
}

#navbar li:hover { 
    background-color: silver;
        
}

#navbar a:hover {
    color:purple;
}

h1:hover {
    background-color: teal;
    color:silver;
} 
p{
    color:teal
}
p:hover {
    background-color: darkgray;
    color:purple;
}

